# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv
*.tsv

# Artifacts and serialized files
artifacts/
*.pkl

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# Python packaging
*.egg
*.wheel